<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>list</key>
		<array>
			<string>.notdef</string>
			<string>.null</string>
			<string>NULL</string>
			<string>uni000D</string>
			<string>cent</string>
			<string>Oslash</string>
			<string>Eth</string>
			<string>eth</string>
			<string>oslash</string>
			<string>ecaron</string>
			<string>Eng</string>
			<string>eng</string>
			<string>OE</string>
			<string>oe</string>
			<string>scaron</string>
			<string>aeacute</string>
			<string>schwa</string>
			<string>mu</string>
			<string>OE.sc</string>
			<string>Astroke</string>
			<string>Aturned</string>
			<string>Bhook</string>
			<string>Bsmall</string>
			<string>Bsmallringbelow</string>
			<string>Chi</string>
			<string>Chook</string>
			<string>Cstretched</string>
			<string>Cstroke</string>
			<string>Dafrican</string>
			<string>Dhook</string>
			<string>Eopen</string>
			<string>Ereversedopen</string>
			<string>Esh</string>
			<string>Estroke</string>
			<string>Ezh</string>
			<string>Ghook</string>
			<string>Ghooksmall</string>
			<string>Ghooksmallringbelow</string>
			<string>Gsmall</string>
			<string>GsmallRinvertedsmall</string>
			<string>Gsmallbreve</string>
			<string>Gsmallclickalveolar</string>
			<string>Gsmallclickbilabial</string>
			<string>Gsmallclickdental</string>
			<string>Gsmallclicklateral</string>
			<string>Gsmallclickretroflex</string>
			<string>Hhook</string>
			<string>Hsmall</string>
			<string>Hturned</string>
			<string>Ismall</string>
			<string>Istroke</string>
			<string>Jcrossed-tail</string>
			<string>Lbelt</string>
			<string>Lmiddletilde</string>
			<string>Lsmall</string>
			<string>Lsmallbreve</string>
			<string>Lsmallminusbelow</string>
			<string>Lsmallringtack</string>
			<string>Lsmalltack</string>
			<string>Mhook</string>
			<string>Mturned</string>
			<string>Nhookleft</string>
			<string>Nsmall</string>
			<string>Nsmallclickalveolar</string>
			<string>Nsmallclickbilabial</string>
			<string>Nsmallclickdental</string>
			<string>Nsmallclicklateral</string>
			<string>Nsmallclickretroflex</string>
			<string>OEsmall</string>
			<string>O_comb</string>
			<string>Obar</string>
			<string>Oopen</string>
			<string>Phi</string>
			<string>Rinvertedsmall</string>
			<string>Rsmall</string>
			<string>Rsmallringbelow</string>
			<string>Rtail</string>
			<string>Saltillo</string>
			<string>Schwa</string>
			<string>Scriptg</string>
			<string>Shook</string>
			<string>Theta</string>
			<string>Tretroflexhook</string>
			<string>Ubar</string>
			<string>Ustroke</string>
			<string>V_short</string>
			<string>Vhook</string>
			<string>Vturned</string>
			<string>Xdieresis</string>
			<string>Ysmall</string>
			<string>aangleabove</string>
			<string>abridgeabove</string>
			<string>acaron</string>
			<string>acutecmb</string>
			<string>adieresisbridge</string>
			<string>adieresiscaron</string>
			<string>adieresiscircumflex</string>
			<string>adieresisdoubleacute</string>
			<string>adieresisgrave</string>
			<string>adieresisgravedouble</string>
			<string>adieresisinvertedbreve</string>
			<string>adieresisleftangleabove</string>
			<string>adieresismacron</string>
			<string>adieresisocomb</string>
			<string>adoubleacute</string>
			<string>aehalfringbelow</string>
			<string>aehalfringbelowdieresis</string>
			<string>agravedbl</string>
			<string>ahalfringbelow</string>
			<string>ahalfringbelowacute</string>
			<string>ahalfringbelowdieresis</string>
			<string>ainvertedbreve</string>
			<string>alphatilde</string>
			<string>alphaturned</string>
			<string>amacronbelow</string>
			<string>amacronbelowdieresis</string>
			<string>aocomb</string>
			<string>aogonekacute</string>
			<string>aogonekgrave</string>
			<string>aogonekmacron</string>
			<string>apostrophemod</string>
			<string>apostrophemodcomb</string>
			<string>astroke</string>
			<string>asupmod</string>
			<string>aturned</string>
			<string>bbeta</string>
			<string>bbridge</string>
			<string>beta</string>
			<string>bhook</string>
			<string>bhookringbelow</string>
			<string>bridgeabovecmb</string>
			<string>bridgebelowcmb</string>
			<string>bridgebelowcmbcomb</string>
			<string>bsupmod</string>
			<string>capostrophe</string>
			<string>cccedilla</string>
			<string>ccurl</string>
			<string>ccurlapostrophe</string>
			<string>charactertie</string>
			<string>chi</string>
			<string>chiapostrophe</string>
			<string>chook</string>
			<string>clickalveolar</string>
			<string>clickbilabial</string>
			<string>clickdental</string>
			<string>clicklateral</string>
			<string>clickretroflex</string>
			<string>colontriangularhalfmod</string>
			<string>colontriangularhalfmodcomb</string>
			<string>colontriangularmod</string>
			<string>colontriangularmodcomb</string>
			<string>crossmod</string>
			<string>crossmodcomb</string>
			<string>cstroke</string>
			<string>csupmod</string>
			<string>dezh</string>
			<string>dhook</string>
			<string>dhookringbelow</string>
			<string>dhooktail</string>
			<string>dhooktailring</string>
			<string>dieresisbelowcmb</string>
			<string>dieresisbelowcmbcomb</string>
			<string>dieresiscmb</string>
			<string>dieresiscmbcomb</string>
			<string>dlezh</string>
			<string>dminusbelowcmbcomb</string>
			<string>dotlessiogonek</string>
			<string>dotlessjstroke</string>
			<string>dotlessjstrokehook</string>
			<string>dotlessjstrokehookring</string>
			<string>dotlessjstrokejcrossedtail</string>
			<string>downtackbelowcmb</string>
			<string>downtackbelowcmbcomb</string>
			<string>dseagullbelow</string>
			<string>dsupmod</string>
			<string>dtail</string>
			<string>dtailzretroflex</string>
			<string>dz</string>
			<string>dzcurl</string>
			<string>dzed</string>
			<string>dzedcurl</string>
			<string>eadieresis</string>
			<string>eangleabove</string>
			<string>ebridgeabove</string>
			<string>edieresisbridge</string>
			<string>edieresiscaron</string>
			<string>edieresiscircumflex</string>
			<string>edieresisdoubleacute</string>
			<string>edieresisgrave</string>
			<string>edieresisgravedouble</string>
			<string>edieresisinvertedbreve</string>
			<string>edieresisleftangleabove</string>
			<string>edieresismacron</string>
			<string>edieresisocomb</string>
			<string>edoubleacute</string>
			<string>edowntackbelow</string>
			<string>egravedbl</string>
			<string>ehalfringbelow</string>
			<string>ehalfringbelowacute</string>
			<string>ehalfringbelowdieresis</string>
			<string>einvertedbreve</string>
			<string>emacronbelow</string>
			<string>emacronbelowdieresis</string>
			<string>engclickalveolar</string>
			<string>engclickbilabial</string>
			<string>engclickdental</string>
			<string>engclicklateral</string>
			<string>engclickretroflex</string>
			<string>engringtop</string>
			<string>eocomb</string>
			<string>eogonekacute</string>
			<string>eogonekgrave</string>
			<string>eogonekmacron</string>
			<string>eopen</string>
			<string>eopenclosed</string>
			<string>eopenreversed</string>
			<string>eopenreversedclosed</string>
			<string>eopenreversedhook</string>
			<string>eopentilde</string>
			<string>ereversed</string>
			<string>esh</string>
			<string>eshapostrophe</string>
			<string>eshcurl</string>
			<string>eshsquatreversed</string>
			<string>estroke</string>
			<string>esupmod</string>
			<string>ethminusbelow</string>
			<string>ethseagullbelow</string>
			<string>etilde</string>
			<string>ezh</string>
			<string>ezhcurl</string>
			<string>fapostrophe</string>
			<string>fsupmod</string>
			<string>galt</string>
			<string>gammasupmod</string>
			<string>gammasupmodcomb</string>
			<string>gclickbilabial</string>
			<string>gclickclickalveolar</string>
			<string>gclickdental</string>
			<string>gclicklateral</string>
			<string>gclickretroflex</string>
			<string>ghook</string>
			<string>ghookring</string>
			<string>gipagamma</string>
			<string>glottalstopinverted</string>
			<string>glottalstopmod</string>
			<string>glottalstopstroke</string>
			<string>glottalstopstrokeapostrophe</string>
			<string>glottalstopstrokebreve</string>
			<string>glottalstopstrokeglottalstopstrokereversed</string>
			<string>glottalstopstrokereversed</string>
			<string>glottalstopsupreversedmod</string>
			<string>glottalstopsupreversedmodcomb</string>
			<string>gravecmb</string>
			<string>gravedouble</string>
			<string>gravedoublecmb</string>
			<string>gsupmod</string>
			<string>halfrightringbelowcmb</string>
			<string>henghook</string>
			<string>hfishhookturned</string>
			<string>hhook</string>
			<string>horizontalbar_long</string>
			<string>horizontalbar_longextra</string>
			<string>horizontalbar_medium</string>
			<string>hsupmod</string>
			<string>hsupmodcomb</string>
			<string>hturned</string>
			<string>hturnedring</string>
			<string>hungarumlautcmb</string>
			<string>iangleabove</string>
			<string>ibridgeabove</string>
			<string>icaron</string>
			<string>idieresisbridge</string>
			<string>idieresiscaron</string>
			<string>idieresiscircumflex</string>
			<string>idieresisdoubleacute</string>
			<string>idieresisgrave</string>
			<string>idieresisgravedouble</string>
			<string>idieresisinvertedbreve</string>
			<string>idieresisleftangleabove</string>
			<string>idieresismacron</string>
			<string>idieresisocomb</string>
			<string>idoubleacute</string>
			<string>igravedbl</string>
			<string>ihalfringbelow</string>
			<string>ihalfringbelowacute</string>
			<string>ihalfringbelowdieresis</string>
			<string>iinvertedbreve</string>
			<string>imacronbelow</string>
			<string>imacronbelowdieresis</string>
			<string>invertedbelowbrevecmb</string>
			<string>invertedbelowbrevecmbcomb</string>
			<string>invertedbrevecmb</string>
			<string>invertedbridgebelowcmb</string>
			<string>inverteddoublebreve</string>
			<string>inverteddoublebrevecmb</string>
			<string>invertedundertie</string>
			<string>iocomb</string>
			<string>iogonekacute</string>
			<string>iogonekgrave</string>
			<string>iogonekmacron</string>
			<string>ipaIsmall</string>
			<string>ipaalpha</string>
			<string>ipaereversed</string>
			<string>ipagamma</string>
			<string>ipaglottalstop</string>
			<string>ipaglottalstoph</string>
			<string>ipaglottalstoptackbelow</string>
			<string>ipagscript</string>
			<string>ipagscriptclickalveolar</string>
			<string>ipagscriptclickbilabial</string>
			<string>ipagscriptclickdental</string>
			<string>ipagscriptclicklateral</string>
			<string>ipagscriptclickretroflex</string>
			<string>ipaiota</string>
			<string>ipaphi</string>
			<string>ipaphiapostrophe</string>
			<string>ipartail</string>
			<string>ipartailring</string>
			<string>ipaupsilon</string>
			<string>istroke</string>
			<string>isupmod</string>
			<string>jcrossedtail</string>
			<string>jsupmod</string>
			<string>kapostrophe</string>
			<string>kclickalveolar</string>
			<string>kclickbilabial</string>
			<string>kclickdental</string>
			<string>kclicklateral</string>
			<string>kclickretroflex</string>
			<string>ksupmod</string>
			<string>kturned</string>
			<string>kx</string>
			<string>lalt</string>
			<string>lbelt</string>
			<string>lbeltapostrophe</string>
			<string>leftangleabovecmb</string>
			<string>lefttackbelowcmb</string>
			<string>lefttackbelowcmbcomb</string>
			<string>lezh</string>
			<string>lmacronbelow</string>
			<string>lmiddletilde</string>
			<string>lretroflex</string>
			<string>lretroflexbreve</string>
			<string>lretroflexbreveringbelow</string>
			<string>lretroflexringtack</string>
			<string>lretroflextack</string>
			<string>lsupmod</string>
			<string>lsupmodcomb</string>
			<string>ltAlpha</string>
			<string>ltAlphaturned</string>
			<string>ltGamma</string>
			<string>ltUpsilon</string>
			<string>m_bottomright_cut</string>
			<string>m_flip_bottomrigth_cut</string>
			<string>macronbelowcmb</string>
			<string>macroncmb</string>
			<string>macronlowmod</string>
			<string>macronlowmodcomb</string>
			<string>mhook</string>
			<string>minusbelowcmb</string>
			<string>minusbelowcmbcomb</string>
			<string>minvertedbridgebelow</string>
			<string>mlonglegturned</string>
			<string>mringlow</string>
			<string>msupmod</string>
			<string>mturned</string>
			<string>mturned_u</string>
			<string>mturned_ustemlong</string>
			<string>n.superior</string>
			<string>ndieresis</string>
			<string>nhookleft</string>
			<string>nhookleftringtop</string>
			<string>nminvertedbridgebelow</string>
			<string>nretroflex</string>
			<string>nretroflexringtop</string>
			<string>nringlow</string>
			<string>nseagullbelow</string>
			<string>oangleabove</string>
			<string>obarred</string>
			<string>obridgeabove</string>
			<string>ocaron</string>
			<string>ocmb</string>
			<string>ocmbcomb</string>
			<string>odieresisbridge</string>
			<string>odieresiscaron</string>
			<string>odieresiscircumflex</string>
			<string>odieresisdoubleacute</string>
			<string>odieresisgrave</string>
			<string>odieresisgravedouble</string>
			<string>odieresisinvertedbreve</string>
			<string>odieresisleftangleabove</string>
			<string>odieresismacron</string>
			<string>odieresisocomb</string>
			<string>odoubleacute</string>
			<string>odowntackbelow</string>
			<string>ogravedbl</string>
			<string>ohalfringbelow</string>
			<string>ohalfringbelowacute</string>
			<string>ohalfringbelowdieresis</string>
			<string>oinvertedbreve</string>
			<string>omacronbelow</string>
			<string>omacronbelowdieresis</string>
			<string>omegaclosed</string>
			<string>oocomb</string>
			<string>oogonek</string>
			<string>oogonekacute</string>
			<string>oogonekgrave</string>
			<string>oogonekmacron</string>
			<string>oopen</string>
			<string>oslashdowntackbelow</string>
			<string>osupmod</string>
			<string>papostrophe</string>
			<string>pbridge</string>
			<string>pharyngealvoicedfricative</string>
			<string>phi</string>
			<string>pipaphi</string>
			<string>plusbelowcmb</string>
			<string>plusbelowcmbcomb</string>
			<string>plussignmod</string>
			<string>plussignmodcomb</string>
			<string>psupmod</string>
			<string>qapostrophe</string>
			<string>qchi</string>
			<string>qclickalveolar</string>
			<string>qclickbilabial</string>
			<string>qclickdental</string>
			<string>qclicklateral</string>
			<string>qclickretroflex</string>
			<string>qhook</string>
			<string>qsupmod</string>
			<string>ramshorn</string>
			<string>ramshorndowntackbelow</string>
			<string>rfishhook</string>
			<string>rfishhookreversed</string>
			<string>rfishhookringbelow</string>
			<string>rfishhookseagull</string>
			<string>rhookturned</string>
			<string>rhookturnedtack</string>
			<string>rhotichookmod</string>
			<string>rhotichookmodcomb</string>
			<string>righttackbelowcmb</string>
			<string>righttackbelowcmbcomb</string>
			<string>ringbelowcmb</string>
			<string>ringbelowcmbcomb</string>
			<string>ringhalfleftcentredmod</string>
			<string>ringhalfleftcentredmodcomb</string>
			<string>ringhalfrightcentredmod</string>
			<string>ringhalfrightcentredmodcomb</string>
			<string>ringlowmod</string>
			<string>ringlowmodcomb</string>
			<string>rlonglegturned</string>
			<string>rlonglegturnedringbelow</string>
			<string>rmacron</string>
			<string>rringbelow</string>
			<string>rsupmod</string>
			<string>rturned</string>
			<string>rturnedringminustack</string>
			<string>rturnedtackminus</string>
			<string>saltillo</string>
			<string>sapostrophe</string>
			<string>schwahook</string>
			<string>schwatilde</string>
			<string>seagullbelowcmb</string>
			<string>seagullbelowcmbcomb</string>
			<string>serif_flip</string>
			<string>shelfmod</string>
			<string>shelfmodcomb</string>
			<string>shook</string>
			<string>shookapostrophe</string>
			<string>solidusshortoverlaycmb</string>
			<string>solidusshortoverlaycmbcomb</string>
			<string>square</string>
			<string>squarebelow</string>
			<string>squarebelowcmb</string>
			<string>squarebelowcmbcomb</string>
			<string>ssupmod</string>
			<string>stress_lc</string>
			<string>stress_uc</string>
			<string>tackdownmod</string>
			<string>tackdownmodcomb</string>
			<string>tackupmod</string>
			<string>tackupmodcomb</string>
			<string>tapostrophe</string>
			<string>tccurl</string>
			<string>tesh</string>
			<string>theta</string>
			<string>thetaapostrophe</string>
			<string>thetaminusbelow</string>
			<string>thetaseagullbelow</string>
			<string>tilde_long</string>
			<string>tildecmb</string>
			<string>tildecmbcomb</string>
			<string>tildelowmod</string>
			<string>tildelowmodcomb</string>
			<string>tildeoverlaycmb</string>
			<string>tildeoverlaycmbcomb</string>
			<string>tlbelt</string>
			<string>tminusbelowcmbcomb</string>
			<string>tonehighendmod</string>
			<string>tonehighendmodcomb</string>
			<string>tretroflex</string>
			<string>tretroflexapostrophe</string>
			<string>tretroflexshook</string>
			<string>ts</string>
			<string>tseagullbelow</string>
			<string>tsupmod</string>
			<string>tturned</string>
			<string>u_bottomright_stem_long</string>
			<string>uangleabove</string>
			<string>ubar</string>
			<string>ubridgeabove</string>
			<string>ucaron</string>
			<string>udieresisbridge</string>
			<string>udieresiscaron</string>
			<string>udieresiscircumflex</string>
			<string>udieresisdoubleacute</string>
			<string>udieresisgrave</string>
			<string>udieresisgravedouble</string>
			<string>udieresisinvertedbreve</string>
			<string>udieresisleftangleabove</string>
			<string>udieresismacron</string>
			<string>udieresisocomb</string>
			<string>udoubleacute</string>
			<string>ugravedbl</string>
			<string>uhalfringbelow</string>
			<string>uhalfringbelowacute</string>
			<string>uhalfringbelowdieresis</string>
			<string>uinvertedbreve</string>
			<string>umacronbelow</string>
			<string>umacronbelowdieresis</string>
			<string>undertie</string>
			<string>uni0127</string>
			<string>uocomb</string>
			<string>uogonekacute</string>
			<string>uogonekgrave</string>
			<string>uogonekmacron</string>
			<string>uptackbelowcmb</string>
			<string>uptackbelowcmbcomb</string>
			<string>ustroke</string>
			<string>usupmod</string>
			<string>verticallinelowmod</string>
			<string>verticallinelowmodcomb</string>
			<string>verticallinemod</string>
			<string>vhook</string>
			<string>voicingmod</string>
			<string>voicingmodcomb</string>
			<string>vrighthook</string>
			<string>vrighthookplusbelow</string>
			<string>vsupmod</string>
			<string>vturned</string>
			<string>whook</string>
			<string>wsupmod</string>
			<string>wsupmodcomb</string>
			<string>wturned</string>
			<string>xapostrophe</string>
			<string>xdieresis</string>
			<string>xsupmod</string>
			<string>yr</string>
			<string>ysupmod</string>
			<string>yturned</string>
			<string>yturnedringtack</string>
			<string>yturnedrtack</string>
			<string>yturnedtack</string>
			<string>zcurl</string>
			<string>zretroflex</string>
			<string>zsupmod</string>
		</array>
		<key>name</key>
		<string>Latin-MX-V1</string>
	</dict>
</array>
</plist>
